.facebook__svg {
  width: 20px;
  height: 20px;
  fill: #8baa36;
}

.youtube__svg {
  width: 20px;
  height: 15px;
  fill: #8baa36;
}

.twitter__svg {
  width: 20px;
  height: 16px;
  fill: #8baa36;
}

.instagram__svg {
  width: 20px;
  height: 20px;
  fill: #8baa36;
}
